---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import webImage from "../../public/webDev.png";
import javaImage from "../../public/javaProjects.png";
import csharpImage from "../../public/c-sharpProjects.png";
---

<Layout title="My Projects">
  <main class="main-projects">
    <!--My Projects Text -->
    <div class="projects-intro">
      <h1>MY <span class="color-gradient">PROJECTS</span></h1>
    </div>
    <!--Projects Container -->
    <div class="projects-container">
      <div class="flex-container">
        <!--Web Projects -->

        <article>
          <!--Image -->
          <a href="../webProjects/webLandingPage.html">
            <div class="image-container">
              <Image
                alt="Web Development Projects"
                class="image"
                src={webImage}
              />
            </div>
            <!--Heading -->
            <div class="name">
              <h3>WEB PROJECTS</h3>
            </div>
            <!--SubText -->
            <div class="subtext"><p>HTML, CSS, JS</p></div>
          </a>
        </article>

        <!--JAVA -->
        <article>
          <!--Image -->
          <a href="../webProjects/webLandingPage.html">
            <div class="image-container">
              <Image
                alt="Web Development Projects"
                class="image"
                src={javaImage}
              />
            </div>
            <!--Heading -->
            <div class="name">
              <h3>JAVA PROJECTS</h3>
            </div>
            <!--SubText -->
            <div class="subtext"><p>OBJECT ORIENTED PROGRAMMING</p></div>
          </a>
        </article>

        <!--C Sharp -->
        <article>
          <!--Image -->
          <a href="../csharpProjects/csharpLandingPage.html">
            <div class="image-container">
              <Image
                alt="Web Development Projects"
                class="image"
                src={csharpImage}
              />
            </div>
            <!--Heading -->
            <div class="name">
              <h3>C-SHARP PROJECTS</h3>
            </div>
            <!--SubText -->
            <div class="subtext"><p>.NET</p></div>
          </a>
        </article>
      </div>
    </div>
  </main>
</Layout>

<style>
  .main-projects {
    height: 100%;
  }

  h1 {
    margin-top: 20%;
    color: #fff;
    font-size: 50px;
  }

  .color-gradient {
    color: rgb(245, 137, 57);
    color: linear-gradient(
      65deg,
      rgba(245, 137, 57, 1) 0%,
      rgba(226, 155, 51, 1) 48%,
      rgba(255, 212, 0, 1) 100%
    );
  }

  .projects-container {
    display: flex;
    width: 100%;
    height: 100%;
    margin-bottom: 10%;
    margin-top: 10%;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  article {
    display: flex;
    border: solid 5px #f58939;
    border-radius: 5%;
    height: 250px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 10%;
  }

  article:hover {
    opacity: 70%;
  }

  .image {
    width: 220px;
    height: auto;
    border-radius: 5%;
    border: solid 2px #fff;
    transition: 0.5s;
  }

  .name {
    margin-top: 5%;
  }

  a {
    text-decoration: none;
    color: #fff;
  }

  /*Screens bigger than 400px */
  @media only screen and (min-width: 400px) {
    .image {
      width: 230px;
    }
    article {
      width: 280px;
    }
  }

  /*Screens bigger than 800px */
  @media only screen and (min-width: 800px) {
    .flex-container {
      flex-direction: row;
      flex-wrap: wrap;
    }

    article {
      width: 300px;
      height: 280px;
    }

    h3 {
      font-size: 26px;
    }
    p {
      font-size: 18px;
    }

    .image {
      width: 240px;
    }

    h1 {
      font-size: 90px;
    }
  }

  /*Screens bigger than 900px */
  @media only screen and (min-width: 900px) {
    article {
      width: 400px;
      height: 300px;
    }

    .image {
      width: 300px;
    }
  }

  /*Screens bigger than 1200px */
  @media only screen and (min-width: 1200px) {
    article {
      width: 450px;
      height: 340px;
    }

    .image {
      width: 320px;
    }

    h3 {
      font-size: 30px;
    }
    p {
      font-size: 24px;
    }
  }

  /*Screens bigger than 1400px */
  @media only screen and (min-width: 1400px) {
    article {
      width: 520px;
      height: 380px;
    }

    .image {
      width: 360px;
    }
  }
</style>
