---
import { Image } from "astro:assets";
---

<footer>
  <div class="container-footer">
    <p>Social Links</p>
    <div class="links">
      <a href="https://www.instagram.com/reece_garbutt_/"
        ><i class="fa-brands fa-instagram"></i></a
      >

      <a href="https://ie.linkedin.com/in/reece-farrell-834654252"
        ><i class="fa-brands fa-linkedin"></i></a
      >
      <a href="https://github.com/Garbutt"
        ><i class="fa-brands fa-github"></i></a
      >
    </div>
    <p class="footer-text">
      IF YOU HAVE QUESTIONS ABOUT A JOB, PROJECT OR ANY GENERAL QUESTIONS FEEL
      FREE TO EMAIL ME AT <br /><span>REECEGARBUTT@OUTLOOK.COM</span>
    </p>
  </div>
</footer>

<style>
  footer {
    height: 100%;
    width: 100%;
    display: flex;
    padding-bottom: 10%;
    margin-top: 25%;
  }

  p {
    color: #fff;
    font-size: 21px;
    text-align: center;
    margin-bottom: 5%;
  }

  .footer-text {
    font-size: 16px;
    margin: 2em;
  }

  span {
    color: #f58939;
    text-decoration: underline;
  }
  .container-footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  .links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 60px;
    align-items: center;
    color: rgb(245, 137, 57);
    color: linear-gradient(
      65deg,
      rgba(245, 137, 57, 1) 0%,
      rgba(226, 155, 51, 1) 48%,
      rgba(255, 212, 0, 1) 100%
    );
  }

  .links a {
    color: rgb(245, 137, 57);
    color: linear-gradient(
      65deg,
      rgba(245, 137, 57, 1) 0%,
      rgba(226, 155, 51, 1) 48%,
      rgba(255, 212, 0, 1) 100%
    );
  }

  /*Screens bigger than 800px */
  @media only screen and (min-width: 800px) {
    footer {
      margin-top: 35%;
    }

    .footer-text {
      padding-top: 5%;
    }
  }

  /*Screens bigger than 1200px */
  @media only screen and (min-width: 1200px) {
    footer {
      margin-top: 25%;
    }
  }

  /*Screens bigger than 1400px */
  @media only screen and (min-width: 1400px) {
    footer {
      margin-top: 20%;
    }
  }
</style>
