---
import { Image } from "astro:assets";
import icon from "../../public/person icon.png";
---

<header>
  <main>
    <div class="logo">
      <a href="../../src/pages/index.astro">
        <Image src={icon} alt="Reece Farrell logo" class="logo" />
      </a>
    </div>

    <!--Overlay -->
    <div id="myNav" class="overlay">
      <a href="javascript:void(0)" class="close-btn" onclick="closeNav()"
        >&times;</a
      >

      <div class="overlay-content">
        <a href="">Home</a>
        <a href="">Projects</a>
        <a href="">Blog</a>
        <a href="">Contact</a>
      </div>
    </div>

    <span id="nav" onclick="openNav()"><i class="fa-solid fa-bars"></i></span>
    <script type="module">
      const nav = document.getElementById("myNav");

      /*open nav*/
      function openNav() {
        nav.style.height = "100vh";
      }

      /*close nav*/
      function closeNav(event) {
        event.preventDefault();
        nav.style.height = "0%";
      }

      document.getElementById("nav").addEventListener("click", openNav);
      document.querySelector(".close-btn").addEventListener("click", closeNav);
    </script>
  </main>
</header>

<style>
  main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-color: none;
    align-items: center;
  }

  .logo {
    width: 50px;
    height: 50px;
    padding-top: 5px;
  }

  .close-btn {
    font-size: 50px;
    text-decoration: none;
    color: rgb(245, 137, 57);
    color: linear-gradient(
      65deg,
      rgba(245, 137, 57, 1) 0%,
      rgba(226, 155, 51, 1) 48%,
      rgba(255, 212, 0, 1) 100%
    );
    top: 315px;
    right: 45px;
    position: absolute;
  }

  .fa-solid {
    font-size: 50px;
    color: rgb(245, 137, 57);
    color: linear-gradient(
      65deg,
      rgba(245, 137, 57, 1) 0%,
      rgba(226, 155, 51, 1) 48%,
      rgba(255, 212, 0, 1) 100%
    );
    padding-top: 20px;
    cursor: pointer;
  }

  /*Overlay*/
  .overlay {
    height: 0%;
    width: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    background: rgb(24, 33, 64);
    background: linear-gradient(
      65deg,
      rgba(24, 33, 64, 1) 0%,
      rgba(12, 28, 43, 1) 48%,
      rgba(6, 3, 33, 1) 100%
    );
  }

  .overlay-content {
    width: 100%;
    text-align: center;
    margin-top: 95%;
  }

  .overlay-content a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #fff;
    display: block;
    transition: 1s;
  }

  .overlay-content a:hover a:focus {
    color: #000;
  }
</style>
