---
import { Image } from "astro:assets";
import icon from "../../public/person icon.png";
import Index from "../pages/index.astro";
---

<header>
  <main>
    <div class="wrapper">
      <div class="logo">
        <a href="../../src/pages/index.astro">
          <Image src={icon} alt="Reece Farrell logo" class="logo" />
        </a>
      </div>

      <!--Overlay -->
      <div id="myNav" class="overlay">
        <a href="javascript:void(0)" class="close-btn" onclick="closeNav()"
          >&times;</a
        >

        <div class="overlay-content">
          <a href="/index.html">Home</a>
          <a href="/projects.html">Projects</a>
          <a href="">Blog</a>
          <a href="">Contact</a>
        </div>
      </div>
    </div>
    <span id="nav" onclick="openNav()"><i class="fa-solid fa-bars"></i></span>
    <script type="module">
      const nav = document.getElementById("myNav");

      /*open nav*/
      function openNav() {
        nav.style.height = "100%";
        body.style.overflow = "hidden";
      }

      /*close nav*/
      function closeNav(event) {
        event.preventDefault();
        nav.style.height = "0%";
        body.style.overflow = "";
      }

      document.getElementById("nav").addEventListener("click", openNav);
      document.querySelector(".close-btn").addEventListener("click", closeNav);
    </script>
  </main>
</header>

<style>
  .wrapper {
    height: 100%;
  }

  main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 15px;
    background-color: none;
  }

  .logo {
    width: 50px;
    height: 50px;
    padding-top: 5px;
  }

  .close-btn {
    color: rgb(245, 137, 57);
    color: linear-gradient(
      65deg,
      rgba(245, 137, 57, 1) 0%,
      rgba(226, 155, 51, 1) 48%,
      rgba(255, 212, 0, 1) 100%
    );
    position: absolute;
    top: 15px;
    right: 50px;
    font-size: 60px;
  }

  .fa-solid {
    font-size: 50px;
    color: rgb(245, 137, 57);
    color: linear-gradient(
      65deg,
      rgba(245, 137, 57, 1) 0%,
      rgba(226, 155, 51, 1) 48%,
      rgba(255, 212, 0, 1) 100%
    );
    padding-top: 20px;
    cursor: pointer;
  }

  /*Overlay*/
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    background: linear-gradient(
      65deg,
      rgba(24, 33, 64, 1),
      rgba(12, 28, 43, 1),
      rgba(6, 3, 33, 1)
    );
  }

  .overlay-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .overlay-content a {
    padding: 15px;
    text-decoration: none;
    font-size: 40px;
    color: #fff;
    transition: 0.3s;
  }

  .overlay-content a:hover {
    color: orange;
  }
</style>
