---
interface Props {
  title: string;
}
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <header>
    <!--Navbar -->
  </header>
  <body>
    <slot />
    <script
      src="https://kit.fontawesome.com/75375d0f3e.js"
      crossorigin="anonymous"></script>
  </body>

  <style is:global>
    :root {
      --orange: linear-gradient(
        65deg,
        rgba(245, 137, 57, 1) 0%,
        rgba(226, 155, 51, 1) 48%,
        rgba(255, 212, 0, 1) 100%
      );
    }

    body {
      background: rgb(24, 33, 64);
      background: linear-gradient(
        65deg,
        rgba(24, 33, 64, 1) 0%,
        rgba(12, 28, 43, 1) 48%,
        rgba(6, 3, 33, 1) 100%
      );
    }

    h1 {
      text-align: center;
    }

    main {
      width: 100%;
      margin: auto;
      padding: 1rem;
      height: 350px;
      max-width: calc(100% - 2rem);
      color: white;
    }

    header {
      width: 100%;
      margin: auto;
      padding: 1rem;
      max-width: calc(100% - 2rem);
      color: white;
    }

    * {
      margin: 0;
      padding: 0;
      font-family: system-ui, sans-serif;
    }
    code {
      font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    }
  </style>


</html>
